.camera-wrapper {
  position: relative;
  height: 500px;
  width: 500px;
  background: #cecece;
}
.point {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.point-in {
  background: green;
}
.point-out {
  background: red;
}
