.camera-wrapper {
  position: relative;
  height: 500px;
  width: 700px;
  background: #cecece;
}
camera-line-point {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: red;
  
}
.canvas-line {
  position: absolute;
}
.point-in {
  background: green;
}
.point-out {
  background: red;
}
